<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CFamily Peachee Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="style.css" />
    <script src="actions.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="navbar" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Theme
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <button type="button" class="dropdown-item" onclick="set_theme('light')">
                                    <i class="bi bi-brightness-high-fill"></i> Light theme</button>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item" onclick="set_theme('dark')">
                                    <i class="bi bi-moon-fill"></i> Dark theme</button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <table class="table table-hover table-bordered cirrus-matrix">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th class="health-project">&nbsp;</th>
                    {% for date in dashboard.dates %}
                    <th class="state date">
                        <div><span>{{ date.strftime('%Y-%m-%d') }}</span></div>
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr class="health-date">
                    <td></td>
                    <td class="health-project">
                        <i class="bi bi-clipboard2-pulse-fill" title="Health"></i>
                    </td>
                    {% for date in dashboard.dates %}
                    <td class="state health-{{ dashboard.date_health[date]//10 }}">
                        <span>{{ dashboard.date_health[date]}}</span>
                    </td>
                    {% endfor %}
                </tr>
                {% for project in dashboard.projects %}
                <tr>
                    <td>{{ project }}</td>
                    <td class="health-project health-{{dashboard.project_health[project]//10}}">
                        <span>{{ dashboard.project_health[project] }}</span>
                    </td>
                    {% for date, row in zip(dashboard.dates, dashboard.table) %}
                    {% set task = row[project] %}
                    {% set task_status = task.get('status', 'undefined').lower() %}
                    <td class="state {{ task_status }}" title="{{ status_title(task) }}">
                        <a href="https://cirrus-ci.com/task/{{task.get('id','')}}" target="_blank">
                            <i class="bi {{ status_icon(task) }}"></i>
                        </a>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="container text-center footer-container">
            <footer class="row">
                <div class="col">
                    <ul class="legend">
                        <li><i class="bi bi-git"></i> Checkout</li>
                        <li><i class="bi bi-gear-wide-connected"></i> Building</li>
                        <li><i class="bi bi-patch-check"></i> Analysis</li>
                        <li><i class="bi bi-robot"></i> AutoScan</li>
                        <li><i class="bi bi-list-task"></i> Other</li>
                        <li><i class="bi bi-lightbulb-off"></i> CI Agent stopped responding</li>
                    </ul>
                </div>
            </footer>
        </div>
</body>

</html>
