/* 
 * Health colors based on https://developer.apple.com/design/human-interface-guidelines/color#system-colors
 * Table colors based on GitHub colors
 */

html {
    --completed-color: #7ce387;
    --failed-color: #fa7970;
    --executing-color: #77bdfb;
    --triggered-color: #a2d2fb;

    --color-health-0: rgb(255, 59, 48);
    --color-health-1: #ea543c;
    --color-health-2: #de5c3d;
    --color-health-3: #ce683e;
    --color-health-4: #c3703f;
    --color-health-5: rgb(255, 204, 0);
    --color-health-6: #9b8d42;
    --color-health-7: #70ab46;
    --color-health-8: #59bb48;
    --color-health-9: #49c749;
    --color-health-10: rgb(40, 205, 65);

}

html[data-bs-theme='dark'] {
    --completed-color: #7ce387;
    --failed-color: #fa7970;
    --executing-color: #77bdfb;
    --triggered-color: #a2d2fb;

    --color-health-0: rgb(255, 69, 58);
    --color-health-1: #ff5f31;
    --color-health-2: #ff7f27;
    --color-health-3: #ff991e;
    --color-health-4: #ffb914;
    --color-health-5: rgb(255, 214, 10);
    --color-health-6: #d2d618;
    --color-health-7: #99d62a;
    --color-health-8: #6cd639;
    --color-health-9: #5bd63e;
    --color-health-10: rgb(50, 215, 75);
}

body {
    padding-bottom: 5em;
}

td.completed {
    background-color: var(--completed-color);
}

td.failed {
    background-color: var(--failed-color);
}

td.executing {
    background-color: var(--executing-color);
}

td.triggered {
    background-color: var(--triggered-color);
}

thead tr {
    border: none;
}

tr.health-date {
    text-align: right;
    border-top: none;
}

tr.health-date :first-child {
    border: none;
}

tr.health-date td span::after {
    content: " %";
}

tr.health-date td.health-project {
    text-align: center;
    border-left: none;
}

td.health-project {
    text-align: right;
    width: 4em;
}

td.health-project span::after {
    content: " %";
}

td.state {
    text-align: center;
    margin: 0;
    width: 4em;
}

td.state a {
    color: white;
}

td.state.completed i {
    visibility: hidden;
}

td.state:hover i {
    visibility: visible;
}

th.date {
    height: 6em;
    white-space: nowrap;
}

th.date>div {
    height: 110px;
    position: relative;
}

th.date>div>span {
    position: absolute;
    transform: rotate(-45deg);
    transform-origin: center left;
    white-space: nowrap;
    bottom: 5px;
    left: 50%;
}

table.cirrus-matrix th {
    border: none;
}

table.cirrus-matrix {
    max-width: fit-content;
}

td.health-10 {
    background-color: var(--color-health-10);
}

td.health-9 {
    background-color: var(--color-health-9);
}

td.health-8 {
    background-color: var(--color-health-8);
}

td.health-7 {
    background-color: var(--color-health-7);
}

td.health-6 {
    background-color: var(--color-health-6);
}

td.health-5 {
    background-color: var(--color-health-5);
}

td.health-4 {
    background-color: var(--color-health-4);
}

td.health-3 {
    background-color: var(--color-health-3);
}

td.health-2 {
    background-color: var(--color-health-2);
}

td.health-1 {
    background-color: var(--color-health-1);
}

td.health-0 {
    background-color: var(--color-health-0);
}

/* Footer */
div.footer-container {
    position: fixed;
    bottom: 0;
    background-color: var(--bs-body-bg);
}

footer {
    border-top: 1px solid #e5e5e5;
    padding-top: 1em;
}

ul.legend {
    list-style-type: none;
}

ul.legend li {
    display: inline-block;
    margin-left: 2em;
}
