td.completed {
    background-color: forestgreen;
}

td.failed {
    background-color: crimson;
}

td.executing {
    background-color: cornflowerblue;
}

td.triggered {
    background-color: tan;
}

thead tr {
    border: none;
}

tr.health-date {
    text-align: right;
    opacity: 0.8;
    border-top: none;
}

tr.health-date :first-child {
    border: none;
}

tr.health-date td span::after {
    content: " %";
}

tr.health-date td.health-project {
    text-align: center;
    border-left: none;
}

td.health-project {
    text-align: right;
    width: 4em;
    opacity: 0.8;
}

td.health-project span::after {
    content: " %";
}

td.state {
    text-align: center;
    margin: 0;
    width: 4em;
}

td.state a {
    color: white;
}

td.state.completed i {
    visibility: hidden;
}

td.state:hover i {
    visibility: visible;
}

th.date {
    height: 6em;
    white-space: nowrap;
}

th.date>div {
    height: 110px;
    position: relative;
}

th.date>div>span {
    position: absolute;
    transform: rotate(-45deg);
    transform-origin: center left;
    white-space: nowrap;
    bottom: 5px;
    left: 50%;
}

table.cirrus-matrix th {
    border: none;
}

table.cirrus-matrix {
    max-width: fit-content;
}

td.health-10 {
    background-color: #228b22;
}

td.health-9 {
    background-color: #449a1c;
}

td.health-8 {
    background-color: #66a916;
}

td.health-7 {
    background-color: #8bb90f;
}

td.health-6 {
    background-color: #b0c908;
}

td.health-5 {
    background-color: #dddd00;
}

td.health-4 {
    background-color: #ddad0e;
}

td.health-3 {
    background-color: #dd8919;
}

td.health-2 {
    background-color: #dd6923;
}

td.health-1 {
    background-color: #dd452e;
}

td.health-0 {
    background-color: #dc143c;
}

/* Footer */
div.footer-container {
    position: fixed;
    bottom: 0;
    background-color: white;
}

footer {
    border-top: 1px solid #e5e5e5;
    padding-top: 1em;
}

ul.legend {
    list-style-type: none;
}

ul.legend li {
    display: inline-block;
    margin-left: 2em;
}

body {
    padding-bottom: 5em;
}
